
 .search-bar-container {
     display: flex;
     width: 50%;
     padding-top: 20vh;
     margin: auto;
     flex-direction: column;
     align-items: center;
     min-width: 200px;

 }

 .home{
     background-color: #eee;
     height: 100vh;
     width: 100vw;

 }
